* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f5f0f067;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
}

#scroll_position {
    position: fixed;
    top: 0;
    right: 0;
    background: #777;
    color: #fff;
    padding: 8px;
    width: 100px;
}

.bg {
    background-color: #3a88ec !important;
}

.checker {
    display: flex;
    justify-content: center;
}

.box {
    width: 10px;
    height: 10px;
    background-color: #626263;
    margin: 20px;
    cursor: pointer;
}

.common {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main_body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.background-img {
    position: absolute;
    width: 250px;
    z-index: 0;
}

.push2 {
    margin-top: -748px !important;
    margin-bottom: 720px !important;
    transition: 1.8s;
}

.push1 {
    margin-top: -374px !important;
    margin-bottom: 360px !important;
    transition: 1.8s;
}

.push0 {
    margin-top: -187px;
    margin-bottom: 180px;
    transition: 1.8s;
}

.hidden {
    display: none !important;
    transition: 1s;
}

.img1 {
    margin-top: 450px;
    align-self: flex-end;
}

.img2 {
    margin-top: 1000px;
    margin-left: -90px;
    align-self: flex-start;
}

.img3 {
    margin-top: 1900px;
    align-self: flex-end;
}

.img4 {
    margin-top: 2800px;
    align-self: flex-start;
}

.img5 {
    margin-top: 3300px;
    width: 100px;
    align-self: flex-end;
}

.img6 {
    margin-top: 3900px;
    align-self: flex-start;
    width: 50px;
    margin-left: 100px;
}

.img7 {
    margin-top: 0px;
    align-self: flex-end;
    width: 50px;
    margin-right: 20px;
}

.head_floater {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
    top: 0rem;
    z-index: 1;
}

.head_floater--button {
    background-color: #82b440;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    margin: 3px 18px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.head_floater--logo {
    background-image: url(nec-pics/envato.svg);
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
    margin: 15px 0px 0px 20px;
}

.head_headernav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 80px;
    background-color: white;
    top: 3.1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.head_headernav--logo {
    width: 155px;
    min-width: 100px;
    min-height: 80px;
}

.head_headernav--nav {
    text-decoration: none;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: 900;
    color: black;
    padding: 0;
}

.head_headernav--nav:hover {
    color: #ff3e81;
    opacity: 1;
}

.gt {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: -10px;
    opacity: 0.3;
}

.head_headernav--btn {
    padding: 13px 37px;
    background-color: #3a88ec;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 130%;
    font-weight: 700;
    cursor: pointer;
}

.head_headernav--btn:hover {
    background-color: #ff3e81;
}

.head_headernav--table {
    height: 30px;
    width: 30px;
    display: none;
}

.table-bar {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: fixed;
    margin-top: 127px;
    padding: 20px;
    width: 100%;
    align-self: center;
    justify-self: center;
    background-color: white;
    overflow: hidden;
    display: none;
    transition: 1.5s;
}

.table-bar>* {
    margin-bottom: 4px;
}

.transition {
    height: 250px;
    transition: 1s;
}

.hidden1 {
    height: 0;
    padding: 0;
    transition: 1.5s;
}

.head_headernav--table:hover {
    background-color: #9696993b;
}

.main_body--common {
    margin-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
}

.main_body--img {
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    margin-left: 140px;
}

.main_body--para-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 30px;
}

.main_body--para-top>* {
    padding: 9px;
}

.para---1 {
    font-size: 29px;
}

.para---2 {
    font-size: 60px;
    color: #303669;
    font-weight: 1000;
    width: 80%;
    font-family: "Roboto", sans-serif;
}

.para---3 {
    font-size: 17px;
    font-weight: 500;
    width: 80%;
    margin-bottom: 20px;
}

.main_body--top-btn {
    border-radius: 5rem;
    height: 50px;
    width: 200px;
    background-color: #ff3e81;
    border: none;
    font-size: 18px;
    font-weight: 550;
    color: white;
    cursor: pointer;
}

.main_body--top-btn:hover {
    background-color: #3a88ec;
}

.main_body--mid {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.main_body--mid-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main_body--mid-items>* {
    padding: 5px;
}

.main_body--mid-items---img {
    max-width: 100px;
}

.main_body--mid-items---para1 {
    font-size: 20px;
    font-weight: 600;
}

.main_body--mid-items---para2 {
    width: 70%;
    text-align: center;
}

.main_body--para-mid2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 140px;
}

.main_body--para-mid2>* {
    padding: 5px;
}

.main_body--mid2-btn {
    margin-bottom: 10px;
}

.btn-mid {
    border-radius: 5rem;
    background-color: #3a88ec;
    border: none;
    font-size: 18px;
    font-weight: 550;
    color: white;
    display: flex;
    padding: 10px 70px;
    justify-content: space-between;
    align-items: center;
}

.img-hover {
    padding: 0px;
    margin: 0px;
    width: 30px;
}

.img-hover:hover {
    cursor: pointer;
    background-color: #303669;
}

.main_body--imgmid2 {
    min-width: 300px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    margin-right: 60px;
}

.main_body--cards {
    display: flex;
    flex-direction: column;
}

.main_body--cards-p1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.main_body--cards-p2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5px 90px;
}

.main_body--cards-p1-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    border-radius: 3rem;
    background-color: white;
    margin: 20px;
}

.main_body--cards-p1-card>* {
    padding: 2px;
}

.main_body--cards-p1-card:hover {
    box-shadow: 2px 2px 14px 2px rgba(95, 95, 95, 0.247);
    cursor: pointer;
}

.main_body--cards-p1-card-p1 {
    align-self: center;
}

.main_body--cards-p1-card-p2 {
    font-weight: 800;
    color: rgb(99, 233, 233);
    font-size: 17px;
}

.main_body--cards-p1-card-p3 {
    font-size: 18px;
    max-width: 250px;
    margin-bottom: 10px;
    align-self: center;
}

.main_body--cards-p2--order {
    display: flex;
    flex-direction: row;
    padding: 6px 9px;
    margin-top: 4px;
}

.special {
    align-self: center;
}

.main_body--cards-p1-card-img {
    height: 17px;
    width: 17px;
    background-color: #3a88ec;
    border-radius: 3rem;
}

.blank {
    background-color: rgb(230, 230, 230);
}

.main_body--cards-p1-card-p4 {
    font-size: 13px;
    margin-left: 8px;
}

.main_body--cards-p1-card-btn {
    padding: 15px 39px;
    border-radius: 3rem;
    margin-top: 30px;
    border: none;
    background-color: #3a88ec;
    font-size: 18px;
    font-weight: 600;
    color: white;
    align-self: center;
}

.main_body--cards-p1-card-btn:hover {
    background-color: #ff3e81;
}

.card2_special {
    border-radius: 3rem;
    background-color: #78c2ff;
    color: white;
    font-weight: 800;
    padding: 5px 17px;
    font-size: 14px;
    margin: 10px;
    align-self: center;
}

.main_body--showcase-logo-main {
    height: 200px;
    overflow: hidden;
}

.main_body--showcase-logo-main--main {
    transition: 1s;
}

.main_body--showcase-logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    margin: 15px 50px;
    overflow: hidden;
}

.main_body--showcase-logos---logo {
    transition: 1s;
}

.para-1 {
    font-size: 22px;
    color: #303669;
    font-weight: 1000;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.para1div2 {
    font-size: 18px;
    margin: 5px;
    font-weight: 550;
    color: rgb(187, 183, 183);
}

.para-2 {
    font-size: 15px;
}

.unique {
    background-color: white;
    color: #3a87ec7c;
    margin-top: 5px;
}

.unique:hover {
    background-color: white;
    cursor: pointer;
    color: #ff3e81;
}

.main_body--showcase-logos---logo {
    padding: 30px;
}

.problem-01 {
    max-width: 230px;
    max-height: 240px;
}

.main_body--footer {
    width: 100%;
    background-color: #303669;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main_body--footer-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 60px 200px;
}

.main_body--footer-p1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_body--footer-p1---img {
    min-width: 50px;
    max-width: 100px;
    margin-bottom: 14px;
}

.main_body--footer-p1---p-1 {
    font-size: 20px;
    font-weight: 900;
    color: white;
    align-self: flex-start;
    margin-bottom: 14px;
}

.main_body--footer-p1---p {
    font-size: 13px;
    color: white;
    width: 80%;
}

.main_body--footer-p1---sec1 {
    display: flex;
    margin-bottom: 7px;
}

.main_body--footer-p1---sec1-img {
    width: 20px;
    margin-right: 3px;
}

.main_body--footer-p1---sec1-img:hover {
    cursor: pointer;
}

.unique1 {
    display: flex;
    flex-direction: row;
}

.unique1-1 {
    margin: 2px;
    cursor: pointer;
}

.main_body--footer-main2 {
    font-size: 12px;
    text-align: center;
    margin: 20px 0px;
    color: white;
}

.main_body--footer-main2-link {
    text-decoration: none;
    color: white;
}

.main_body--footer-main2-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .push2 {
        margin-top: -600px !important;
        margin-bottom: 560px !important;
        transition: 1.8s;
    }
    .push1 {
        margin-top: -374px;
        margin-bottom: 360px;
        transition: 1.8s;
    }
    body {
        overflow-x: hidden;
    }
    .table-bar {
        display: flex;
    }
    .headernav {
        display: flex;
        flex-direction: column;
    }
    .main_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main_body>* {
        margin: 0;
    }
    .navor {
        display: none;
        transition: 1s;
    }
    .gt {
        display: none;
    }
    .navor--btn {
        display: none;
    }
    .head_headernav--table {
        display: flex;
        cursor: pointer;
    }
    .head_headernav {
        box-shadow: none !important;
    }
    .main_body--para-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .main_body--cards-p1-card {
        margin-bottom: 20px;
    }
    .main_body--footer-main {
        display: flex;
        align-items: flex-start;
    }
    .main_body--footer-p1 {
        margin: 5px 0px 20px 0px;
    }
}