.forb {
  background-image: linear-gradient(
    to right,
    rgba(188, 228, 222, 0.603),
    rgba(125, 231, 217, 0.603)
  );
}

.main {
  background-color: rgb(252, 252, 252);
  border-radius: 1rem;
  padding: 5px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  position: absolute;
  height: 490px;
  transition: 1s;
  box-shadow: 5px 5px 5px 5px rgba(49, 44, 44, 0.2);
}

.heads {
  font-size: 18px;
  font-weight: 550;
  width: 205px;
  display: flex;
  justify-content: space-between;
}

.midt {
  font-size: 13px;
  font-weight: 100;
}

.in {
  height: 39px;
  margin-top: -30px;
  width: 114px;
  border-radius: 2px;
  border: 0.1px solid rgb(230, 225, 225);
  padding-left: 6px;
}

.ebut {
  background-color: #ba54eb;
  height: 40px;
  color: white;
  border: 1px;
  width: 245px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px rgba(49, 44, 44, 0.2);
}

.pic1 {
  display: flex;
  justify-content: space-between;
}

.pic {
  height: 40px;
  width: 110px;
  border-radius: 3px;
  cursor: pointer;
}
