* {
    padding: 0;
    margin: 0;
}

body>* {
    font-family: "Poppins", sans-serif;
    transition: all 0.5s;
}

button {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

img {
    height: 24px;
    margin: 0;
}

input {
    padding: 4px;
    font-family: "Poppins", sans-serif;
}

.tooltip {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    max-width: 10%;
    margin: 0 auto;
}

.tt {
    max-height: 29px;
    transition: 0.5s;
}

.MainCont {
    margin: 0 auto;
    padding: 20px;
}

.InnerCont {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.TextSide {
    background-color: rgba(207, 214, 214, 0.397);
    padding: 4px;
    border: none;
    outline: none;
    font-size: 16px;
    max-width: 12%;
    min-width: 80px;
}

.PrgressB {
    background-color: rgba(228, 228, 228, 0);
    width: auto;
    overflow: visible;
    display: flex;
}

.Prgrss {
    background-color: rgba(16, 241, 16, 0.616);
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    transition: 0.6s;
}

.Prgrss p {
    padding-right: 5px;
    font-size: 16px;
    align-self: center;
}

.inpCont {
    display: flex;
    align-items: center;
}

.view_fullinp {
    width: 0;
    overflow: visible;
    height: 100%;
    padding: 3px;
}

.fullinp_inner {
    overflow: auto;
    font-size: 16px;
    outline: none;
    border: 0;
    width: auto;
    padding: 2px;
}

.StatSet-Cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.StatSet,
.close {
    font-family: "Poppins", sans-serif;
    padding: 10px;
}

.botslider {
    background-color: rgb(230, 224, 224);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.innerInput {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.submit0 {
    padding: 5px;
    margin: 6px 0;
}

.commonm {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.commonim {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow-y: auto;
}

.modwin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.modwin1 {
    display: flex;
    flex-direction: column;
}

.outercontI {
    padding: 5px;
}

.commoninmI {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pointinp {
    width: 40px;
    margin-right: 4px;
}

.button1 {
    padding: 3px;
}

.Eclass {
    background-color: rgba(0, 0, 0, 0.171);
    border: 0.5px solid rgba(0, 0, 0, 0.384);
    transition: 0.5s;
}

.Eclass1 {
    margin-left: -30px;
    background-color: #64ef6400;
}