.nav_link:nth-child(2) {
    text-decoration: underline;
}

.about {
    width: 100%;
    padding: 4rem;
}

article {
    background-color: rgba(223, 213, 231, 0.26);
    padding: 0.3rem;
}

.about_desc {
    background-color: rgba(223, 213, 231, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.paragraph {
    min-width: 200px;
    width: 500px;
    overflow: hidden;
    padding: 1rem;
    transition: 0.5s;
}

.paragraph {
    margin-left: var(--margin_prop);
}

.rev {
    margin-right: var(--margin_prop);
    margin-left: 0px;
}

.paragraph:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(68, 68, 68, 0.178);
}

.letter::first-letter {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.link {
    transition: 0.4s;
    color: black;
}

.link:hover {
    color: white;
    font-size: 19px;
    transition: 0.4s;
}

.picture {
    min-width: 190px;
    max-width: 200px;
    height: 200px;
    border-radius: 10rem;
    object-fit: cover;
}

footer {
    background-color: rgba(68, 68, 68, 0.658);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.footer_links a {
    color: rgb(23, 23, 24);
}

.footer_links a:hover {
    color: rgb(77, 77, 80);
}

@media screen and (max-width: 705px) {
    .about_desc {
        flex-direction: column;
    }
    .reverse {
        flex-direction: column-reverse;
    }
    .paragraph {
        margin: 1rem 0 0 0;
        width: 100%;
    }
}

@media screen and (max-width: 705px) {
    .about {
        padding: 0;
    }
}